@import '../../../assets/styles/forms';
@import '../../../assets/styles/create-catalogs';

input {
  margin-bottom: 1rem;
}

.input-with-icon {
  padding-right: 3rem;
}

.input-icon {
  position: absolute;
  top: 41%;
  right: 1rem;
}