<div class="create-catalog grid-y" *ngIf="isBusy">
  <div class="small-12 cell">
    <app-spinner [show]="true" class="catalogs-spinner center-xy"></app-spinner>
  </div>
</div>

<form class="create-catalog grid-y" *ngIf="contact && !isBusy" (ngSubmit)="submit()" #saveForm="ngForm">

  <div class="small-12 cell grid-x grid-margin-x top-container">
    <span class="center-y click close" (click)="closeEditing();">
      <i class="material-icons">close</i>
    </span>
    <div class="small-6 cell" style="padding: 1rem 0;">
      <span class="center-y">Contactos
        <i class="material-icons">edit</i>
      </span>
    </div>
    <div class="small-6 cell end-x">
      <button class="save-button" type="submit" [ladda]="saveBusy" [disabled]="saveBusy || saveForm.form.invalid">
        <i class="material-icons">save</i>Guardar
      </button>
    </div>
    <div class="small-12 cell line"></div>
  </div>

  <div class="grid-x grid-margin-x relative inputs-container">
    <div class="small-12 medium-6 cell">
      <label>
        Nombre(s):
        <span class="obligatory">*</span>
      </label>
      <input name="contact.firstName" required type="text" [(ngModel)]="contact.firstName">
    </div>

    <div class="small-12 medium-6 cell">
      <label>
        Apellido(s):
        <span class="obligatory">*</span>
      </label>
      <input name="contact.lastName" required type="text" [(ngModel)]="contact.lastName">
    </div>

    <div class="small-12 cell full-width margin-auto grid-margin-x grid-x center-y" *ngFor="let phoneNumber of contact.phoneNumbers; let i = index;">
      <div class="auto cell">
        <label>Teléfono: <span class="obligatory">*</span></label>
        <ng-select
        class="background-select center-y"
        [items]="phoneNumberTypes"
        [(ngModel)]="phoneNumber.type"
        [name]="'phoneNumber.type-' + i"
        [searchable]="false">
        </ng-select>
      </div>
      <div class="auto cell">
        <label>Número: <span class="obligatory">*</span></label>
        <input mask='(999) 999-9999' [name]="'phoneNumber.number-' + i" type="tel" [(ngModel)]="phoneNumber.number">
      </div>
      <div class="shrink no-margin cell">
        <i class="material-icons delete-icon">delete_forever</i>
      </div>
    </div>

    <div class="small-12 cell full-width margin-auto grid-margin-x grid-x center-y">
      <div class="auto cell">
        <label>Teléfono: <span class="obligatory">*</span></label>
        <ng-select
        class="background-select center-y"
        [items]="phoneNumberTypes"
        [searchable]="false">
        </ng-select>
      </div>

      <div class="auto cell">
        <label>Número: <span class="obligatory">*</span></label>
        <input mask='(999) 999-9999' name="contact.phoneNumber" type="tel">
      </div>

      <div class="shrink no-margin cell">
        <i class="material-icons add-icon">add</i>
      </div>

    </div>


    <div class="small-12 cell relative">
      <label>Fecha de nacimiento</label>
      <input
      class="input-with-icon"
      [matDatepicker]="datePicker"
      name="contact.birthday"
      [(ngModel)]="contact.birthday"
      (keydown)="$event.preventDefault()"
      type="text"
      (click)="datePicker.open()"
      (focus)="datePicker.open()">
      <mat-datepicker #datePicker></mat-datepicker>
      <i class="material-icons input-icon">calendar_today</i>
      <!-- <input name="contact.birthday" type="text" [(ngModel)]="contact.birthday" name="contact.birthday"> -->
    </div>

    <div class="small-12 medium-6 cell">
      <label>Sobrenombre:</label>
      <input type="text" [(ngModel)]="contact.nickName" name="contact.nickName">
    </div>

    <div class="small-12 medium-6 cell">
      <label>Compañia:</label>
      <input type="text" [(ngModel)]="contact.company" name="contact.company">
    </div>

    <div class="small-12 medium-6 cell">
      <label>Página web:</label>
      <input type="text" [(ngModel)]="contact.website" name="contact.website">
    </div>

    <div class="small-12 medium-6 cell">
      <label>Email:</label>
      <input [pattern]="emailRegex" #email="ngModel" type="email" [(ngModel)]="contact.email" name="contact.email">
    </div>

    <div class="small-12 cell">
      <label>Domicilio:</label>
      <input type="text" [(ngModel)]="contact.address" name="contact.address">
    </div>

    <div class="small-12 cell">
      <label>Comentarios:</label>
      <textarea [(ngModel)]="contact.comments" name="contact.comments" cols="30" rows="4"></textarea>
    </div>
  </div>

</form>
