@import "../../assets/styles/common";

#wrapper {
  height: 100%;
  overflow: hidden;
}

header {
  background-color: $color-light;
  color: $color-primary;
  z-index: 2;
  padding: 1rem 0rem;

  @include screen-large-up {
    padding: 0 4rem;
  }

  .header-container {
    padding: 1rem 1rem !important;

    .icon-menu {
      font-size: 2rem;
      cursor: pointer;

      @include screen-medium-up {
        font-size: 2.5rem;
      }
    }
  }
  .app-name {
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 1.33rem;
    color: $color-secondary;
  }
}

#side-menu {
  padding: 1rem;
  background-color: darken($color-primary, 10%);
  height: calc(100% - 3rem);
  min-height: fit-content;
  .user-image {
    background-color: $color-secondary;
    color: white;
    font-weight: bold;
    font-size: 4rem;
    border-radius: 50%;
    margin: auto;
    margin-top: 2rem;
    width: 10rem;
    height: 10rem;
  }
  .user-name {
    margin-top: 1rem;
    color: white;
    font-weight: bold;
    font-size: 2rem;
  }
}

.app-router {
  overflow-y: scroll;
  height: calc(100% - 3rem);
}

footer {
  height: 3rem;
  background-color: $color-primary;
  color: $color-light;
  padding: 0 2rem;
  position: fixed;
  bottom: 0;
}
