/** Variables **/
$color-primary: #71c9f4;
$color-secondary: #0968aa;
$color-tertiary: #009fe3;
$color-accent: #87d1f5;
$color-light: #ffffff;
$color-warning: #f53051;
$color-text: #3f3f3f;
$color-neutral: #3f3f3f;
$color-highlight: #ebf8ff;

$color-green: #08aa51;
$color-purple: #833de0;
$color-orange: #ff6e28;
$color-pink: #df3d8d;
$color-grey: #f7f7f7;
$color-gray: #f7f7f7;
$color-light-gray: #bbb;
