@import '../../assets/styles/common';
@import '../../assets/styles/forms';
input {
  padding: 0rem 1rem;
  background-color: $color-grey;
  border: none !important;
  &:hover,
  &:focus,
  &:active {
    background-color: $color-grey;
  }
}

.wrapper {
  background-color: #f7f7f7;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 1rem;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

.login-box {
  background-color: white;
  color: #828282;
  width: 100%;
  max-width: 30rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  margin: auto;
  overflow: hidden;
  padding: 1rem;
  .app-name {
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 1.33rem;
    color: $color-secondary;
  }
}

.line {
  border-bottom: 1px solid #C9C9C9;
}

#submit-button {
  @extend .round-button;
  @extend .click;
  color: white;
  background-color: $color-primary;
  padding: 0.5rem 2.25rem;
  margin: 1.5rem 0rem;
  &:disabled {
    background-color: lighten($color-primary, 15%);
  }
}

.field-label {
  margin: .5rem 0;
}

.large-margin-y {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/* Medium and up. */

@media screen and (min-width: 40em) {
  .login-box {
    padding: 2rem 4rem;
  }
}
