<header class="contacts-header">
  <span>Mis contactos</span>
</header>

<header>
  <app-search-box (onSearch)="triggerSearch($event)" (onCreate)="triggerCreation()"></app-search-box>
</header>

<app-spinner [show]="isBusy" class="catalogs-spinner center-xy" *ngIf="isBusy"></app-spinner>

<main class="grid-x grid-margin-x grid-margin-y margin-auto" *ngIf="!isBusy">
  <div class="small-12 medium-6 large-4 cell contact-card grid-x grid-margin-x center-y"
  *ngFor="let contact of contacts | paginate: { id: 'phoneCatalogPagination', itemsPerPage: itemsPerPage, currentPage: currentPage, totalItems: totalItems }"
  (click)="triggerEdition(contact)">
    <div class="shrink cell contact-image center-xy">
      {{ getContactInitials(contact) }}
    </div>
    <div class="auto cell contact-info center-y grid-x">
      <div class="small-12 cell">
        <div class="bold full-width">Nombre: <span class="text-normal"> {{ contact.firstName }} {{ contact.lastName }}</span></div>
        <div class="bold full-width" *ngIf="contact.birthday">Cumpleaños: <span class="text-normal">{{ moment(contact.birthday).format('LL') }}</span></div>
        <div class="bold full-width" *ngIf="contact.company">Empresa: <span class="text-normal">{{ contact.company }}</span></div>
        <div class="bold full-width" *ngFor="let number of contact.phoneNumbers.slice(0, 2);">
          {{ number.type }}: <span class="text-normal"> {{ displayPhoneNumber(number.number) }}</span>
        </div>
      </div>
    </div>
  </div>
</main>

<div class="full-width">
  <pagination-controls *ngIf="contacts.length > 0" class="small-12 cell center-x" id="phoneCatalogPagination" (pageChange)="currentPage = $event; getContactsList();" previousLabel="" nextLabel=""></pagination-controls>
</div>